<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>OAuth with Passport.js</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
    <h1>Home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sequi
      temporibus ipsum quae et, harum sed ducimus inventore recusandae.
      Recusandae suscipit aliquid delectus in veritatis optio omnis aut sed qui!
    </p>
  </body>
</html>
